@model BackInStockSubscribeModel
<div class="page back-in-stock-subscription-page">
	<button type="button" class="close" onclick="ClosePopup()">
		<span style="font-size: 22px;">×</span>
	</button>
	<div class="page-title">
		<h1 class="header" style="text-align: center; color: #2c96b9; margin: 20px 0 0 0">
			@if (Model.AlreadySubscribed)
			{
				@T("BackInStockSubscriptions.AlreadySubscribed")
			}
			else
			{
				@T("writeus.remind")
			}
		</h1>
	</div>
	<div class="modal-content" style="border:none;padding: 20px;">
		@if (!Model.IsCurrentCustomerRegistered)
		{
			<div>
				@T("BackInStockSubscriptions.OnlyRegistered")
			</div>
		}
		else if (!Model.AlreadySubscribed && Model.CurrentNumberOfBackInStockSubscriptions >= Model.MaximumBackInStockSubscriptions)
		{
			<div>
				@string.Format(T("BackInStockSubscriptions.MaxSubscriptions").Text, Model.MaximumBackInStockSubscriptions)
			</div>
		}
		else
		{
			if (!Model.AlreadySubscribed)
			{
				<div>@T("BackInStockSubscriptions.Tooltip")</div>
			}
			<div class="body">
				<div class="item">
					<img style="float: left; width:110px;" src="@Model.ImageUrl" alt="">
					<div style="float: left; margin: 20px 0 0 40px;">
						<div class="title">@Model.ProductCategoryName</div>
						<div class="item-name">@Model.ProductName</div>
						<div class="price">@Model.ProductPrice</div>
					</div>
				</div>
				<div class="form-group" style="clear:both;">
					<div class="col">
						<button type="submit" id="in-stock-notify-me" onclick="NotifyMe(@Model.ProductId)" class="btn btn-blue notify-btn" style="margin: auto; display: block">@(Model.AlreadySubscribed ? @T("BackInStockSubscriptions.Unsubscribe").Text : @T("BackInStockSubscriptions.NotifyMe").Text)</button>
					</div>
				</div>
			</div>
			<script>
				function NotifyMe(id) {
					var subscribeButtons = $(".notify-btn");
						$.ajax({
							cache: false,
							type: "POST",
							url: "@(Url.RouteUrl("BackInStockSubscribeSend"))",
							data: { "productId": id },
							success: function (data) {
								subscribeButtons.each(function () {
									$(this).closest('.ui-dialog-content').dialog('destroy').remove();
								});
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert('Failed to change subscription.');
							}
						});
				};
			</script>
		}
	</div>
</div>
<script>
	function ClosePopup() {

		var subscribePopups = $(".back-in-stock-subscription-page");
		subscribePopups.each(function () {
			$(this).closest('.ui-dialog-content').dialog('destroy').remove();
		});
	};
</script>