@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
	Layout = "_ColumnsOne";

	//title
	Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
	//meta
	Html.AddMetaDescriptionParts(Model.MetaDescription);
	Html.AddMetaKeywordParts(Model.MetaKeywords);
	//page class
	Html.AppendPageCssClassParts("html-category-page");

	if (seoSettings.CanonicalUrlsEnabled)
	{
		var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
		Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
	}

	var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@{
	Layout = "_ColumnsOne";
	ViewData["class"] = "wrap short-menu cat";
}
@{
	var OptionFilters = new List<Nop.Core.Domain.Catalog.SpecificationAttribute>();
	var CustomTextFilters = new List<Nop.Core.Domain.Catalog.SpecificationAttribute>();
	//var FilterValues = new List<FilterValuesModel>();
}
@foreach (var product in Model.AllProducts)
{
	foreach (var spec in product.ProductSpecificationAttributes)
	{
		if (spec.AttributeType == Nop.Core.Domain.Catalog.SpecificationAttributeType.Option)
		{
			if (OptionFilters.Count(x => x.Name == spec.SpecificationAttributeOption.SpecificationAttribute.Name) == 0)
			{
				OptionFilters.Add(spec.SpecificationAttributeOption.SpecificationAttribute);
			}
		}
		else
		{
			if (CustomTextFilters.Count(x => x.Name == spec.SpecificationAttributeOption.SpecificationAttribute.Name) == 0)
			{
				CustomTextFilters.Add(spec.SpecificationAttributeOption.SpecificationAttribute);
			}
		}
	}
}
@*category breadcrumb*@
@section Breadcrumb
	{
	@if (Model.DisplayCategoryBreadcrumb)
	{
		<nav class="breadcrumb-wrap" aria-label="breadcrumb">
			<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumb-item">
					<a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
				</li>
				@{ int position = 1; }
				@foreach (var cat in Model.CategoryBreadcrumb)
				{
					var isLastCategory = cat.Id == Model.Id;
					<li class="breadcrumb-item @(isLastCategory == true ? "active" : "")" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						@if (isLastCategory)
						{
							<strong class="current-item" itemprop="name">@cat.Name</strong>
							<span itemprop="item" itemscope itemtype="http://schema.org/Thing">
								<link itemprop="url" href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" />
							</span>
						}
						else
						{
							<a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name" itemprop="item">
								<span itemprop="name">@cat.Name</span>
							</a>
						}
						<meta itemprop="position" content="@position" />
					</li>
					position++;
				}
			</ol>
		</nav>
		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsAfterBreadcrumb, additionalData = Model })
	}
}
<div class="cat-content-wrap">
	<div class="title text-center">
		<h3><b>@Model.Name</b></h3>
		<p>
			<small>@Model.ProductsCount товаров</small>
		</p>
	</div>
	<div class="filters-wrap clearfix">
		<div class="f1">
			<button class="btn btn-outline-secondary btn-sm vg-filter btn-display" type="button">
				Показать фильтры
			</button>
			<button style="display: none;" class="btn btn-outline-secondary btn-sm vg-filter btn-close" type="button">
				Скрыть фильтры
			</button>
		</div>
		<div class="f2 d-none d-sm-block float-right ">
			<div class="btn-group">
				<button class="btn btn-outline-secondary btn-sm vg-filter rounded" id="popular" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
					По популярности
				</button>
				<div class="dropdown-menu" aria-labelledby="popular">
					<a href="" onclick="submitFilters()" class="dropdown-item">
						<input type="radio" id="priceAsc" name="sort" value="10">
						<label for="priceAsc">По возрастанию цены</label>
					</a>
					<a href="" onclick="submitFilters()" class="dropdown-item">
						<input type="radio" id="priceDesc" name="sort" value="11">
						<label for="priceAsc">По убыванию цены</label>
					</a>
					<a class="dropdown-item" href="#">По новинкам</a>
					<a class="dropdown-item" href="#">По скидкам</a>
				</div>
			</div>
			<div class="btn-group">
				<button class="btn btn-outline-secondary btn-sm vg-filter rounded" id="group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
					По группам
				</button>
				<div class="dropdown-menu" aria-labelledby="group">
					<a class="dropdown-item" href="#">,kf ,kf</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-f d-sm-none">
		<div class="btn-group">
			<button class="btn btn-outline-secondary btn-sm vg-filter rounded" id="popular" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
				По популярности
			</button>
			<div class="dropdown-menu" aria-labelledby="popular">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</div>
		<div class="btn-group">
			<button class="btn btn-outline-secondary btn-sm vg-filter rounded" id="group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
				По группам
			</button>
			<div class="dropdown-menu" aria-labelledby="group">
				<a class="dropdown-item" href="#">,kf ,kf</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</div>
	</div>
	<div class="items clearfix">
		<div class="filters-data">
			<div class="inner-wrap f-slider" data-filter-number="1" data-min="0" data-max="15000">
				<div class="title">Цена (грн)</div>
				<div class="form-inline">
					<div class="form-group">
						<span>от: </span>
						<input class="form-control" name="MinPrice" type="text" id="slider-1-a1">
						<span>до: </span>
						<input class="form-control" name="MaxPrice" type="text" id="slider-1-a2">
					</div>
				</div>
				<div id="slider-1-r" class="slider-range"></div>
			</div>
			@{
				int filterNum = 2;
			}
			<div id="CustomFilters">
				@foreach (var filter in CustomTextFilters)
				{
					<div class="inner-wrap f-slider" data-filter-number="@filterNum" data-min="0" data-max="200">
						<div class="title">@filter.Name</div>
						<div class="form-inline">
							<div class="form-group">
								<input type="hidden" name="filterId" value="@filter.Id" />
								<span>от: </span><input class="form-control" type="text" id="slider-@filterNum-a1">
								<span>до: </span><input class="form-control" type="text" id="slider-@filterNum-a2">
							</div>
						</div>
						<div id="slider-@filterNum-r" class="slider-range"></div>
					</div>
					{
						filterNum++;
					}
				}
			</div>
			@foreach (var filter in OptionFilters)
			{
				<div class="inner-wrap">
					<div class="title">@filter.Name</div>
					@foreach (var specValue in filter.SpecificationAttributeOptions)
					{
						<div class="form-check">
							<input class="form-check-input" name="@filter.Id" type="checkbox" value="@specValue.Id">
							<label class="form-check-label">
								@specValue.Name
								<small>@Model.AllProducts.Count(x => x.ProductSpecificationAttributes.Count(u => u.SpecificationAttributeOption.Name == specValue.Name) > 0)</small>
							</label>
						</div>
					}
				</div>
			}
			<div class="inner-wrap text-center">
				<div class="btn-group-vertical">
					<button onclick="submitFilters()" class="btn btn-lg btn-blue rounded">Применить</button>
					<button class="btn btn-link">Очистить фильтры</button>
				</div>
			</div>
		</div>
		@if (Model.Products.Count > 0)
		{
			<div class="prod-wrap float-right" id="prods">
				@foreach (var product in Model.Products)
				{
					@await Html.PartialAsync("_ProductBox", product)
				}
			</div>
		}

		@{
			var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
		}
		@if (!pager.IsEmpty())
		{
			<div class="more-wrapp text-center mt-3 mb-3">
				<button class="btn btn-sm btn-blue-white d-none d-md-inline-block" id="loadMore">@T("cat.more")</button>
				<nav class="float-right" aria-label="">
					@pager
				</nav>
			</div>
		}
		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBottom, additionalData = Model })
	</div>
</div>
@await Component.InvokeAsync("RecentlyViewedProductsBlock", new { productThumbPictureSize = 450, preparePriceModel = true })

<script>
	function submitFilters() {
		var query = "";
		query += "?price=" + $("[name=MinPrice]").val() + "-" + $("[name=MaxPrice]").val();
		$("input.form-check-input:checked").each(function () {
			query += "&specs=" + this.value;
		});
		var que = "&spec=";
		$("#CustomFilters .inner-wrap").each(function () {
			$(this).find(".form-group input").each(function (index) {
				if (index == 0) {
					que += $(this).val() + ",";
				}
				if (index == 1) {
					que += $(this).val() + "-";
				}
				if (index == 2) {
					que += $(this).val() + "|";
				}
			});
			query += que;
			que = "";
		});
		window.location.replace(query);
	}
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/site/tp.js"></script>
<script>
	var prodsOnPageCount = 6;
	$(document).ready(function () {
		if ($("ul.pagination li").last().hasClass("active")) {
			$("#loadMore").addClass("invisible");
		}
	});
	$("#loadMore").on("click", function () {
		var pagesLoaded = parseInt($("#prods div.outer-wrapp").length / prodsOnPageCount);
		var currentPageIndex = parseInt($(".active a.page-link").text());
		var pageIndex = pagesLoaded + currentPageIndex - 1;
		$.ajax({
			url: "catalog/getproducts",
			type: "POST",
			dataType: 'json',
			traditional: true,
			data: {
				categoryId: @Model.Id,
				pageIndex: pageIndex
			},
		}).done(function (responce) {
			responce.model.forEach(function (product) {
				var discount = "";
				if (product.ProductPrice.Discount != 0) {
					discount = '<div class="discount">' + + product.ProductPrice.Discount + '%</div>';
				}
				var oldPrice = "";
				if (product.ProductPrice.OldPrice != null && product.ProductPrice.OldPrice != "" ) {
					oldPrice = '<div class="price-old">' + + product.ProductPrice.OldPrice + '</div>';
				}
				var shortDesc = "";
				if (product.ShortDescription != null) {
					shortDesc = product.ShortDescription;
				}
				var element =
	'<div class="outer-wrapp float-left">' +
		'<div class="item-wrap">' +
			'<a href="' + product.SeName + '?productId=' + product.Id + '">' +
				'<div class="product-img-wrap">' +
				'<img class="product" src="' + product.DefaultPictureModel.ImageUrl + '" alt="' + product.DefaultPictureModel.AlternateText + '">' +
					discount +
				'</div>' +
			'</a>' +
			'<div class="main-prop-wrap text-left">' +
				'<a href="' + product.SeName + '?productId=' + product.Id + '">' +
					'<div class="product-name text-light-c">' + product.Name + '</div>' +
				'</a>' +
				'<div class="product-prop">' + shortDesc + '</div>' +
				'<div class="price-titile">' + '@T("main.product.price")' + '</div>' +
				'<div class="price-wrap clearfix">' +
					oldPrice +
					'<div class="price-new">' + product.ProductPrice.Price + '</div>' +
				'</div>' +
			'</div>' +
		'</div>' +
		'<div class="item-wrap-full">' +
			'<i class="favorite_i float-left"></i>' +
			'<i class="compare_icon float-right"></i>' +
			'<a href="' + product.SeName + '?productId=' + product.Id + '">' +
				'<div class="product-img-wrap">' +
					'<img class="product" src="' + product.DefaultPictureModel.ImageUrl + '" alt="' + product.DefaultPictureModel.AlternateText + '">' +
					discount +
				'</div>' +
			'</a>' +
			'<div class="main-prop-wrap text-left">' +
				'<a href="' + product.SeName + '?productId=' + product.Id + '">' +
				'<div class="product-name text-light-c">' + product.Name + '</div>' +
				'</a>' +
				'<div class="product-prop">' + shortDesc + '</div>' +
				'<div class="price-titile">' + '@T("main.product.price")' + '</div>' +
				'<div class="price-wrap clearfix">' +
					oldPrice +
					'<div class="price-new">' + product.ProductPrice.Price + '</div>' +
				'</div>' +
			'</div>' +
			'<div class="sizes-wrap clearfix">' +
				'<div class="title">Размеры</div>' +
				'<div class="inner-wrap">' +
					'<div class="block float-left">' +
						'<div class="title">Ширина</div>' +
						'<div class="value">' + product.Width + ' см</div>' +
					'</div>' +
					'<div class="block float-left">' +
						'<div class="title">Длина</div>' +
						'<div class="value">' + product.Length + ' см</div>' +
					'</div>' +
					'<div class="block float-left">' +
						'<div class="title">Высота</div>' +
						'<div class="value">' + product.Height + ' см</div>' +
					'</div>' +
				'</div>' +
			'</div>';
				$("#prods").append(element);
				if ((currentPageIndex + pagesLoaded) * prodsOnPageCount >= parseInt("@Model.ProductsCount")) {
					$("#loadMore").addClass("invisible");
				}
			});
		});
	});
</script>
