@using Nop.Web.Factories;
@model CustomerOrderListModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}
<nav class="breadcrumb-wrap">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Bed4you</a></li>
		<li class="breadcrumb-item"><a href="/customer/info">@T("account.cabinet")</a></li>
		<li class="breadcrumb-item active"><a href="#">@T("account.orders")</a></li>
	</ol>
</nav>
<div class="row cabinet">
	<div class="offset-xl-1 col-xl-8">
		<div class="title-wrap clearfix">
			<h1 class="title float-left">@T("Account.MyAccount")</h1>
			<button class="btn btn-blue float-right btn-sm" onclick="window.location.replace('/logout')">@T("Account.Exit")</button>
		</div>
		@await Component.InvokeAsync("AccountMenu", new { active = "/order/history" })
		<div class="cabinet-info rounded">
			<div class="row buy-history-wrap">
                <div class="order-wrap">
                    @if (Model.Orders.Count > 0)
                    {
                        @foreach (var order in Model.Orders)
                        {
                            var itemsCount = order.OrderItems.Sum(item => item.Quantity);
                            <div class="orders clearfix">
                                <a data-toggle="collapse" href="@string.Format("#collapseExample{0}", order.Id)" onclick="loadImg(@order.Id)">
                                    <div class="title-wrap clearfix">
                                        <div>
                                            <i class="arrows"></i>№@order.CustomOrderNumber
                                        </div>
                                        <div>@order.CreatedOn</div>
                                        <div><b>@itemsCount @T("order.totaltip") @order.OrderTotal</b></div>
                                        <div>@order.OrderStatus</div>
                                    </div>
                                </a>
                                <div id="@string.Format("collapseExample{0}", order.Id)" class="collapse order-items clearfix">
                                    @foreach (var product in order.OrderItems)
                                    {
                                        <div class="item">
                                            <div class="item-img-wrap"><img id="@string.Format("image{0}_{1}", order.Id, product.ProductId)" src="" alt="@product.Product.ProductPictures.FirstOrDefault()?.Picture.AltAttribute" title="@product.Product.ProductPictures.FirstOrDefault()?.Picture.TitleAttribute"></div>
                                            <div class="name">
                                                <div class="title" id="@string.Format("title{0}_{1}", order.Id, product.ProductId)"></div>
                                                <div>@product.Product.Name</div>
                                            </div>
                                            <div class="count">
                                                @product.Quantity шт
                                            </div>
                                            <div class="price">
                                                @product.Product.Price.ToString("#.##")
                                            </div>
                                        </div>
                                    }
                                    <div class="total">
                                        <div class="title">@T("order.totalcost")</div>
                                        <div><b>@order.OrderTotal</b></div>
                                    </div>
                                </div>
                                <div class="line"></div>
                            </div>
                        }
                        @if (ViewBag.HasViewAllButton)
                        {
                            <a class="text-center btn btn-blue-white" href="@Url.Action("CustomerOrders", new { viewAll = true })">@T("orders.viewAll")</a>
                        }
                    }
                    else
                    {
                        <div class="no-data">
                            @T("Account.CustomerOrders.NoOrders")
                        </div>
                    }
                </div>
			</div>
		</div>
	</div>
</div>
<script>
	function loadImg(id) {
		if (!$("#collapseExample" + id).hasClass('show')) {
			$("#collapseExample" + id + " .item-img-wrap").each(function () {
				$(this).addClass('load');
			});
			$.ajax({
				url: "/order/getorderimages",
				type: "POST",
				dataType: 'text',
				traditional: true,
				data: {
					orderId: id
				}
			}).done(function (data) {
				JSON.parse(data).forEach(function (elem) {
					$("#image" + id + "_" + elem.productId).attr("src", elem.url);
					//$("#title" + id + "_" + elem.productId).text(elem.categoryName);
				});
				$("#collapseExample" + id + " .item-img-wrap").each(function () {
					$(this).removeClass('load');
				});
			});
		}
	}
</script>