@{
/*
<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
        </div>
        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="header-lower">
        <div class="header-logo">
            @await Component.InvokeAsync("Logo")
        </div>
        <div class="search-box store-search-box">
            @await Component.InvokeAsync("SearchBox")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
*/
}
<div class="header-wrap">
	<div class="side-logo-wrap d-none d-lg-inline-block">
		<div class="logo">
			@await Component.InvokeAsync("Logo")
		</div>
	</div>
	<div class="phone-wrap d-none d-xl-inline-block">
		<div class="phone-title text-light-c d-none d-xl-inline-block">@T("topmenu.freeline")</div>
		<div class="phone">0 800 604 597</div>
	</div>
	<div class="shedule-wrapp d-none d-xl-inline-block">
		<div class="text-light-c">09:00-20:00 (@T("topmenu.weekdays"))</div>
		<div class="text-light-c">10:00-18:00 (@T("topmenu.weekend"))</div>
	</div>
	<ul class="head-menu d-none d-lg-inline-block">
		<li><a class="d-none d-lg-inline" href="/about-us">@T("topmenu.about")</a></li>
		<li><a class="d-none d-lg-inline" href="/ourstores">@T("topmenu.ourstores")</a></li>
		<li><a href="/delivery">@T("topmenu.delivery")</a></li>
	</ul>
	<div class="icons-wrap">
		@await Component.InvokeAsync("LanguageSelector")
		<i class="favorit close"></i>
		<i class="favorit hanburger d-lg-none"></i>
		<div class="d-sm-none">
			@await Component.InvokeAsync("Logo")
		</div>
		@await Component.InvokeAsync("HeaderLinks")
	</div>
</div>