@{
	Layout = "_Root.Head";
}

@{
	/*
	@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
	@await Html.PartialAsync("_Notifications")
	@await Html.PartialAsync("_JavaScriptDisabledWarning")
	@await Html.PartialAsync("_OldInternetExplorerWarning")
	<div class="master-wrapper-page">
		@await Component.InvokeAsync("AdminHeaderLinks")
		@await Html.PartialAsync("_Header")
		<script asp-location="Footer">
			AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
		</script>
		<div class="header-menu">
			@await Component.InvokeAsync("TopMenu")
		</div>
		<div class="master-wrapper-content">
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

			@if (IsSectionDefined("Breadcrumb"))
			{
				@RenderSection("Breadcrumb")
			}
			<div class="master-column-wrapper">
				@RenderBody()
			</div>
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
		</div>
		@await Component.InvokeAsync("Footer")
	</div>
	@await Component.InvokeAsync("EuCookieLaw")
	@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
	*/
}
@{
	if (ViewData["class"] == null)
	{
		ViewData["class"] = "wrap short-menu";
	}
}
<div class="back-shadow"></div>
<div class="cart-popup-wrap">
	<div class="order-wrapp">
		<div class="title-wrap clearfix">
			<h1>@T("cart.title")</h1>
			<i class="close-i"></i>
			<i class="shopping_bag_icon"></i>
		</div>
		<div id="cartItems">@*CART ITEMS FROM AJAX*@</div>
		<div class="total-wrap mb-3">
			<span>@T("cart.total") <span id="cart-count">0</span> @T("cart.total.text")</span>
			<span><span id="cart-price">0</span> грн</span>
		</div>
		<div class="text-center">
			<button class="btn btn-blue pr-4 pl-4" onclick="window.location.replace('/cart')">@T("cart.continue")</button>
			<button class="btn btn-blue-white pr-4 pl-4">@T("cart.buynow")</button>
		</div>
		<div class="text-center">
			<button id="pop-up-close" class="btn btn-link ">@T("cart.close")</button>
		</div>

	</div>
	<div class="line"></div>
	<div class="similar-wrap">
		<div class="title">@T("cart.suggestions")</div>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
		<a href="">
			<div class="item-wrap">
				<div class="product-img-wrap">
					<img class="product" src="/img/bs-mattress-rx-med.png" alt="bs-mattress-rx-med">
					<div class="discount">-20%</div>
				</div>
				<div class="main-prop-wrap text-left">
					<div class="product-name text-light-c">Матрас</div>
					<div class="product-prop">M1 - 80*190</div>
					<div class="price-titile">Цена</div>
					<div class="price-wrap clearfix">
						<div class="price-old">18 843</div>
						<div class="price-new">110 306 грн</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="login-form-wrap rounded">
	<div class="form-wrap">
		<form asp-route="Login" asp-route-returnurl="/customer/info" method="post">
			<div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
			<h5>
				@T("login.title") <i class="favorit user_icon"></i>
				<i class="favorit close-i"></i>
			</h5>
			<div class="form-group form-inline">
				<label class="col-sm-3" for="Email" asp-postfix=":"><b>@T("login.email")</b></label>
				<input class="col-sm-8 form-control" type="text" name="Email" autofocus="autofocus" />
				<span for="name"></span>
			</div>
			<div class="form-group form-inline">
				<label class="col-sm-3" for="Password" asp-postfix=":"><b>@T("login.pass")</b></label>
				<input class="col-sm-8 form-control" name="Password" />
				<span for="Password"></span>
			</div>
			<div>
				<input type="submit" class="btn btn-blue-white btn-block offset-sm-3 col-sm-8" value="@T("login.continue")" />
				<a class="btn btn-link btn-block offset-sm-3 col-sm-8" asp-route="PasswordRecovery">@T("login.forgotpass")</a>
				<a class="btn btn-blue btn-block offset-sm-3 col-sm-8" href="/register">@T("login.signup")</a>
			</div>
		</form>
	</div>
</div>
<div class="@ViewData["class"]">
	<div class="r-wrap">
		<div class="top-wraper" style="display: none;">
			<a onclick="return false;" href="#"><i class="top"></i></a>
		</div>
		<div class="all-menu-wrap">
			<nav class="side-menu-wrap">
				<div class="side-logo-wrap">
					<div class="logo">
						<div class="d-none d-xl-block">
							@await Component.InvokeAsync("Logo")
						</div>
					</div>
				</div>
				<div class="inner-menu-wrap">
					@await Component.InvokeAsync("SearchBox")
					@await Component.InvokeAsync("TopMenu")
					<div class="mob-lang text-center">
						<span class="d-inline d-sm-inline d-md-none"><a class="select" href="/ru">@T("lang.ru")</a></span>
						<span class="d-inline d-sm-inline d-md-none"><a href="/ua">@T("lang.ua")</a></span>
					</div>
				</div>
			</nav>
			<nav class="side-second-menu-wrap d-none d-lg-block">
				<div class="title"></div>
				<i class="close-i"></i>
				<div class="clearfix"></div>
				<div class="sub-menu"></div>
			</nav>
		</div>
		<div class="content content-main-wrap">
			@await Html.PartialAsync("_Header")
			@if (IsSectionDefined("Breadcrumb"))
			{
				@RenderSection("Breadcrumb")
			}

			<!-- RENDER BODY -->
			@RenderBody()
			<!-- END RENDER BODY -->
			<script>
				function UpdateWishlist() {
					$.ajax({
						url: "/ShoppingCart/GetWishlistIds",
						type: "POST",
						dataType: 'json',
						traditional: true
					}).done(function (responce) {
						$(".favorite_i").each(function () {
							$(this).removeClass("active");
						});
						responce.wishlist.forEach(function (elem) {
							$("[data-id='" + elem.ProductId + "']").addClass("active");
						});
					});
				};
				$(document).ready(UpdateWishlist());
			</script>
			<script>
				function UpdateCart() {
					$(document).ready(function () {
						$("#cartItems").empty();
						$.ajax({
							url: "/ShoppingCart/getcart",
							type: "POST",
							dataType: 'json',
							traditional: true
						}).done(function (responce) {
							var sum = 0.0;
							var count = 0;
							responce.model.Items.forEach(function (product) {
								var oldPrice = "";
								if (false) {
									oldPrice = '<div class="price-old">' + '</div>';
								}
								var element =
									'<div class="item">' +
									'<img src="' + product.Picture.ImageUrl + '" alt="' + product.Picture.AlternateText + '">' +
									'<div class="title">' + product.ProductName + '</div>' +
									'<div class="item-name">' + product.ProductSeName + '</div>' +
									'<div class="count-wrap mt-2 mb-2">' +
									'<button class="minus"></button>' +
									'<div class="count">' + product.Quantity + '</div>' +
									'<input id="it-count1" type="hidden" value="' + product.Quantity + '">' +
									'<button class="plus"></button>' +
									'<div class="closee" onclick="$(\'#subm\').click()"></div>' +
									'<form asp-route="Cart" method="post">' +
									'<input type="hidden" checked="checked" name="removefromcart" value="' + product.Id + '" />' +
									'<input type="submit" style="display: none;" class="close-i" id="subm" name="updatecart" value="@T("Wishlist.UpdateCart")" />' +
									'</form>' +
									'</div>' +
									'<div class="price-wrap">' +
									oldPrice +
									'<div class="price">' + product.SubTotal + '</div>' +
									'</div>' +
									'</div>' +
									'<div class="line"></div>';
								$("#cartItems").append(element);
								sum += parseFloat(product.SubTotal) * product.Quantity;
								count += product.Quantity;
							});
							$("#cart-price").text(sum);
							$("#cart-count").text(count);
						});
					});
				}
				$(document).ready(UpdateCart());
			</script>
		</div>
		@await Component.InvokeAsync("Footer")
	</div>
</div>
