@{
	/*
	@{
		Layout = "_ColumnsOne";

		//page class
		Html.AppendPageCssClassParts("html-home-page");
	}
	<div class="page home-page">
		<div class="page-body">
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
			@await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeCategories })
			@await Component.InvokeAsync("HomepageCategories")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeProducts })
			@await Component.InvokeAsync("HomepageProducts")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
			@await Component.InvokeAsync("HomepageBestSellers")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
			@await Component.InvokeAsync("HomepageNews")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforePoll })
			@await Component.InvokeAsync("HomepagePolls")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBottom })
		</div>
	</div>
	*/
}

@{
	Layout = "_ColumnsOne";
	ViewData["class"] = "wrap";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
<div class="big-links-wrap d-none d-md-block">
	<div>
		<a href="/sales"></a>
		<img src="/img/banner1.png" alt="banner1">
		<div>@T("main.sales")</div>
	</div>
	<div>
		<a href="/delivery"></a>
		<img src="/img/banner2.png" alt="banner2">
		<div>@T("main.delivery")</div>
	</div>
	<div>
		<a href="/ourstores"></a>
		<img src="/img/banner3.png" alt="banner3">
		<div>@T("main.ourstores")</div>
	</div>
</div>
<!--***************Топ продаж***************-->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
@await Component.InvokeAsync("HomepageBestSellers")
<!--***************Новинки***************-->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
@await Component.InvokeAsync("HomepageNewProducts")
<!--***************Новости***************-->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
@await Component.InvokeAsync("HomepageNews")
<div class="some-info d-none d-md-block">
	<div class="title text-center">
		<h3 class="">@T("main.textblock.title")</h3>
	</div>
		<div class="row text-left">
			<div class="col-lg-6">
				<div class="text">
					@T("main.textblock.text1")
				</div>
			</div>
			<div class="col-lg-6">
				<div class="text">
					@T("main.textblock.text2")
				</div>
			</div>

		</div>
	</div>
