@model WarehouseModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.WarehouseDetailsTop, additionalData = Model })
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.LocalizedEditor<WarehouseModel, WarehouseLocalizedModel>("warehouse-info-localized",
                                                                                    @<div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].Name" />
            <span asp-validation-for="@Model.Locales[item].Name"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].WorkTime" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].WorkTime" />
            <span asp-validation-for="@Model.Locales[item].WorkTime"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].WarehouseDescription" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].WarehouseDescription" asp-template="RichEditor" />
            <span asp-validation-for="@Model.Locales[item].WarehouseDescription"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].City" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].City" />
            <span asp-validation-for="@Model.Locales[item].City"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].StreetAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].StreetAddress" />
            <span asp-validation-for="@Model.Locales[item].StreetAddress"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="@Model.Locales[item].Phone" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="@Model.Locales[item].Phone" />
            <span asp-validation-for="@Model.Locales[item].Phone"></span>
        </div>
    </div>
    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                    ,@<div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" asp-required="true" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="WorkTime" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="WorkTime" />
            <span asp-validation-for="WorkTime"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="WarehouseDescription" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="WarehouseDescription" asp-template="RichEditor" />
            <span asp-validation-for="WarehouseDescription"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="City" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="City" />
            <span asp-validation-for="City"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="StreetAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StreetAddress" />
            <span asp-validation-for="StreetAddress"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Phone" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
        </div>
    </div>
</div>
))

                    
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Hidden" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Hidden" />
                            <span asp-validation-for="Hidden"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Latitude" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Latitude" />
                            <span asp-validation-for="Latitude"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Longitude" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Longitude" />
                            <span asp-validation-for="Longitude"></span>
                        </div>
                    </div>
                    @*<nop-editor asp-for="Address" asp-template="Address" />*@
                    @for (int i = 0; i < Model.Pictures.Count; i++)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Pictures[i]" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Pictures[i]" />
                                <span asp-validation-for="Pictures[i]"></span>
                            </div>
                        </div>
                    }
                    <script>
                    $(document).ready(function() {
                        $('#addWarehousePicture').click(function() {
                            var pictureId = $("#@Html.IdFor(model => model.AddPictureModel.PictureId)").val();

                            if (pictureId == 0) {
                                alert('Upload picture first');
                                return;
                            }

                            $('#addWarehousePicture').attr('disabled', true);

                            var postData = {
                                pictureId: pictureId,
                                warehouseId: '@Model.Id'
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("AddWarehousePicture", "Shipping"))",
                                data: postData,
                                success: function (data) {
                                    $('#addWarehousePicture').attr('disabled', false);
                                    if (!data.Result) {
                                        return;
                                    }
                                    else {
                                        window.location.reload();
                                        //$("button[name=save-continue]").click();
                                    }

                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to add product picture.');
                                    $('#addWarehousePicture').attr('disabled', false);
                                }
                            });
                        });
                    });
                    </script>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AddPictureModel.PictureId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AddPictureModel.PictureId" />
                            <span asp-validation-for="AddPictureModel.PictureId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="button" id="addWarehousePicture" class="btn btn-primary">@T("Admin.Catalog.Products.Pictures.AddButton")</button>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.WarehouseDetailsBottom, additionalData = Model })
        </div>
    </div>
</div>