@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@if (Model.Enabled)
{
    <nav class="breadcrumb-wrap" aria-label="breadcrumb">
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item">
                    <a href="@Url.RouteUrl("HomePage")">
                        @T("Products.Breadcrumb.Top")
                    </a>
                </li>
                @{ int position = 1; }
                @foreach (var category in Model.CategoryBreadcrumb)
                {
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="item">
                            @category.Name
                        </a>
                        <meta itemprop="position" content="@position" />
                    </li>
                    position++;
                }
                
                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    @Model.ProductName
                    <span itemprop="item" itemscope itemtype="http://schema.org/Thing">
                        <link itemprop="url" href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">
                    </span>
                    <meta itemprop="position" content="@position" />
                </li>
            </ol>
    </nav>
}