@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib/magnific-popup/magnific-popup.css");
}
<div class="img-wrap mt-3 mb-4 clearfix">
	<div class="slider">
		@foreach (var picture in Model.PictureModels)
		{
			<div><a href="@picture.FullSizeImageUrl" class="fancybox-img" rel="slider" data-fancybox="gallery"><img alt="@picture.AlternateText" src="@picture.ImageUrl" title="@picture.Title" /></a></div>
		}
	</div>
	<div class="slider-nav">
		@foreach (var picture in Model.PictureModels)
		{
			<div><img alt="@picture.AlternateText" src="@picture.ImageUrl" title="@picture.Title" /></div>
		}
	</div>
</div>