@model ProductDetailsModel
@using System.Globalization
@{
    var ratingPercent = 0;
    if (Model.ProductReviewOverview.TotalReviews != 0)
    {
        ratingPercent = ((Model.ProductReviewOverview.RatingSum * 100) / Model.ProductReviewOverview.TotalReviews) / 5;
    }
    var ratingValue = ratingPercent / (decimal)20;
}
@if (Model.ProductReviewOverview.AllowCustomerReviews)
{
<div class="question-wrap clearfix">
    <div class="title clearfix">
        <div class="comment-title-main">
            <h4>@Model.Name</h4>
        </div>
        <div class="stars">
            <div class="icons-wrap">
                @if (Model.ProductReviewOverview.TotalReviews > 0)
                {
                    @for (int i = 0; i < 5; i++)
                    {
                        if ((int)(Model.ProductReviewOverview.RatingSum / Model.ProductReviewOverview.TotalReviews) > i)
                        {
                            <i class="star"></i>
                        }
                        else
                        {
                            <i class="star grey"></i>
                        }
                    }
                }
            </div>
        </div>
        <button id="comment-activate" class="btn btn-blue btn-sm pl-4 pr-4">@T("Reviews.SubmitButton")</button>
    </div>
    <form action="/ProductReviews/" method="post" id="add-review-form" style="display:none;">
        <div class="comment-title">
            <h5>@T("reviews.write")</h5>
        </div>
        <div class="form-group">
            <label for="AddProductReview.Title">@T("review.title"):</label>
            <input oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.Title" class="form-control" required="">
        </div>
        <div class="form-group">
            <label for="AddProductReview.ReviewText">@T("review.text"):</label>
            <textarea oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.ReviewText" class="form-control" required=""></textarea>
        </div>
        <div class="review-rating">
            <div class="name-description">
                <label for="AddProductReview.Rating">Оценка:</label>
            </div>
            <div class="rating-wrapper">
                <div id="reviewStars-input">
                    <input id="star-4" type="radio" name="AddProductReview.Rating" value="5" />
                    <label title="gorgeous" for="star-4"></label>

                    <input id="star-3" type="radio" name="AddProductReview.Rating" value="4" checked />
                    <label title="good" for="star-3"></label>

                    <input id="star-2" type="radio" name="AddProductReview.Rating" value="3" />
                    <label title="regular" for="star-2"></label>

                    <input id="star-1" type="radio" name="AddProductReview.Rating" value="2" />
                    <label title="poor" for="star-1"></label>

                    <input id="star-0" type="radio" name="AddProductReview.Rating" value="1" />
                    <label title="bad" for="star-0"></label>
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <div class="buttons">
            <button type="submit" id="add-review-btn" name="add-review" class="btn btn-blue btn-sm pl-4 pr-4">@T("reviews.send")</button>
        </div>
    </form>
    <script>
        $('#add-review-form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).closest('form').attr('action') + @Model.Id,
                type: 'post',
                data: $('#add-review-form').serialize()
            }).done(function (data) {
                if (data.success) {
                    window.location.reload();
                }
                else {
                    console.log(data.message);
                }
            });
        });
    </script>

    @if (Model.Reviews.Items.Count > 0)
    {
        @foreach (var review in Model.Reviews.Items)
        {
            <ul class="comment clearfix">
                <li class="list">
                    <div class="info-wrap">
                        <div class="name">@review.CustomerName</div>
                        <div class="date">@review.WrittenOnStr</div>
                        <div class="rate">
                            <p class="icons-wrap">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (review.Rating > i)
                                    {
                                        <i class="star"></i>
                                    }
                                    else
                                    {
                                        <i class="star grey"></i>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                    <div class="text-wrap">
                        <strong>@review.Title</strong>
                        <br />
                        @review.ReviewText
                    </div>
                </li>
            </ul>
            <div class="line"></div>
        }
    }

</div>
        }