@model HomePageNewsItemsModel
@if (Model.NewsItems.Count > 0)
{
<div class="news-wrap see-wrap pad-norm">
	<div class="title row justify-content-center">
		<div class="col">
			<h3 class="">@T("News")</h3>
		</div>
		<button class="btn btn-sm btn-blue-white float-right" id="news-view-all">@T("Bestsellers.ViewAll")</button>
	</div>
	
		<div class="scrollM clearfix">
			<div class="scrollingHotSpotLeft" style="opacity: 0;">
				<div class="arrow"></div>
			</div><div class="scrollingHotSpotRight" style="opacity: 0;">
				<div class="arrow"></div>
			</div>
			<div class="scrollWrapper kinetic-active" style="cursor: move;">
				<div class="scrollableArea clearfix">
					<div>
						@foreach (var item in Model.NewsItems)
						{
                        <div class="item-wrap">
							<a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
								<div class="img-wrap">
									@if (string.IsNullOrEmpty(item.Image))
									{
										<img src="~/img/news.png" alt="@item.Title">
									}
									else
									{
										<img src="@item.Image" width="250" alt="@item.Title">
									}
								</div>
								<div class="text-wrap">
									<div class="title">
										@item.Title
									</div>
									<div class="short-text">
										@if (item.Short.Length > 100)
										{
											@Html.Raw(item.Short + "...")
										}
										else
										{
											@Html.Raw(item.Short);
										}
									</div>
								</div>
							</a>
                        </div>
						}
					</div>
				</div>
			</div>
		</div>
</div>
	<script>
		$("#news-view-all").on("click", function () {
			window.location.replace("@Url.RouteUrl("NewsArchive")");
		});
	</script>

}
