@model WishlistModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@{
	Layout = "_ColumnsOne";

	//title
	Html.AddTitleParts(T("PageTitle.Wishlist").Text);
	//page class
	Html.AppendPageCssClassParts("html-wishlist-page");
}
<nav class="breadcrumb-wrap" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Bed4you</a></li>
		<li class="breadcrumb-item"><a href="/customer/info">@T("account.cabinet")</a></li>
		<li class="breadcrumb-item active"><a href="#">@T("wishlist")</a></li>
	</ol>
</nav>

<div class="row cabinet">
	<div class="offset-xl-1 col-xl-11">
		<div class="title-wrap clearfix">
			<h1 class="title float-left">@T("account.cabinet")</h1>
			<button class="btn btn-blue float-right btn-sm" onclick="window.location.replace('/logout')">@T("account.exit")</button>
		</div>
		@await Component.InvokeAsync("AccountMenu", new { active = "/customer/wishlist" })
		<div class="cabinet-info rounded">
            <div class="row favorite-wrap">
                <div class="title-wrap">
                    @if (Model.Items.Count > 0)
                    {
                        <h6><b>@T("wishlist")</b></h6>
                        <div class="close-wrap">
                            <i class="close-i"></i>
                            <button class="btn btn-link" onclick="ClearWishlist()">@T("wishlist.clear")</button>
                        </div>
                    }
                    else
                    {
                        <h6><b>@T("wishlist.empty")</b></h6>
                    }
                </div>
                <div class="items">
                    @await Html.PartialAsync("_WishlistItems", Model)
                </div>
            </div>
		</div>
	</div>
</div>
<script>
	function ClearWishlist() {
		$.ajax({
			url: "@Url.Action("ClearWishlist", "ShoppingCart")",
			type: "POST",
			dataType: 'text',
			traditional: true
		}).done(function (response) {
			window.location.reload();
		});
	}
</script>