@{
	/*
	@model FooterModel
	@using Nop.Core
	@using Nop.Core.Domain.Tax
	@inject IWorkContext workContext;
	<div class="footer">
		<div class="footer-upper">
			<div class="footer-block information">
				<div class="title">
					<strong>@T("Footer.Information")</strong>
				</div>
				<ul class="list">
					@if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
					{
						<li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
					}
					@foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
					{
						<li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
					}
					@if (Model.DisplayContactUsFooterItem)
					{
						<li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
					}
				</ul>
			</div>
			<div class="footer-block customer-service">
				<div class="title">
					<strong>@T("Footer.CustomerService")</strong>
				</div>
				<ul class="list">
					@if (Model.DisplayProductSearchFooterItem)
					{
						<li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
					}
					@if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
					{
						<li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
					}
					@if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
					{
						<li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
					}
					@if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
					{
						<li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
					}
					@if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
					{
						<li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
					}
					@if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
					{
						<li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
					}
					@if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
					{
						<li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
					}
					@foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
					{
						<li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
					}
					@if (Model.AllowCustomersToCheckGiftCardBalance)
					{
						<li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>
					}
				</ul>
			</div>
			<div class="footer-block my-account">
				<div class="title">
					<strong>@T("Footer.MyAccount")</strong>
				</div>
				<ul class="list">
					@if (Model.DisplayCustomerInfoFooterItem)
					{
						<li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
					}
					@if (Model.DisplayCustomerOrdersFooterItem)
					{
						<li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
					}
					@if (Model.DisplayCustomerAddressesFooterItem)
					{
						<li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
					}
					@if (Model.ShoppingCartEnabled && Model.DisplayShoppingCartFooterItem)
					{
						<li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
					}
					@if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
					{
						<li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
					}
					@if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
					{
						<li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
					}
					@foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
					{
						<li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
					}
				</ul>
			</div>
			<div class="footer-block follow-us">
				<div class="social">
					<div class="title">
						<strong>@T("Footer.FollowUs")</strong>
					</div>
					@await Component.InvokeAsync("SocialButtons")
				</div>
				@await Component.InvokeAsync("NewsletterBox")
			</div>
		</div>
		<div class="footer-lower">
			<div class="footer-info">
				<span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
				@if (Model.DisplayTaxShippingInfoFooter)
				{
					var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
					<span class="footer-tax-shipping">
						@T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("shippinginfo")}))
					</span>
				}
			</div>
			@if (!Model.HidePoweredByNopCommerce)
			{
				<div class="footer-powered-by">
					@*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
						Please find more info at https://www.nopcommerce.com/copyrightremoval.aspx*@
					Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
				</div>
			}
			@await Component.InvokeAsync("StoreThemeSelector")
		</div>
		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
	</div>
	<script asp-location="Footer">
		$(document).ready(function () {
			$('.footer-block .title').on('click', function () {
				var e = window, a = 'inner';
				if (!('innerWidth' in window)) {
					a = 'client';
					e = document.documentElement || document.body;
				}
				var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
				if (result.width < 769) {
					$(this).siblings('.list').slideToggle('slow');
				}
			});
		});
	</script>
	<script asp-location="Footer">
		$(document).ready(function () {
			$('.block .title').on('click', function () {
				var e = window, a = 'inner';
				if (!('innerWidth' in window)) {
					a = 'client';
					e = document.documentElement || document.body;
				}
				var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
				if (result.width < 1001) {
					$(this).siblings('.listbox').slideToggle('slow');
				}
			});
		});
	</script>
	*/
}
<footer>
	<div class="footer-wrap">
		<div class="row">
			<div class="col-6 col-lg-3">
				<div class="logo-m">@await Component.InvokeAsync("Logo")</div>
				<div class="phone-footer-wrap">
					<div class="text">09:00-20:00 (@T("topmenu.weekdays"))</div>
					<div class="text">10:00-18:00 (@T("topmenu.weekend"))</div>
					<div class="phone">0 800 604 597</div>
					<div class="text">@T("topmenu.freeline")</div>
				</div>
			</div>
			<div class="col-6 col-lg-3 socials">
				<h6 class="title">@T("footer.social")</h6>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">YouTube</a></li>
				</ul>
			</div>
			<div class="col-6 col-lg-3 pay">
				<h6 class="title">@T("footer.payment")</h6>
				<ul>
					<li><a href="#">Приват 24</a></li>
					<li><a href="#">Viza</a></li>
					<li><a href="#">Mastercard</a></li>
					<li><a href="#">LiqPay</a></li>
				</ul>
				<h6 class="title">@T("footer.reviews")</h6>
			</div>
			<div class="col-6 col-lg-3 other">
				<ul>
					<li><a href="/news">@T("footer.news")</a></li>
					<li><a href="/about-us">@T("footer.about")</a></li>
					<li><a href="/certs">@T("footer.certs")</a></li>
					<li><a href="/contactus">@T("footer.contacts")</a></li>
					<li><a href="/topic/articleslist">@T("footer.blog")</a></li>
					<li><a href="/guarantee">@T("footer.guarantee")</a></li>
					<li><a href="/spec">@T("footer.rules")</a></li>
					<li><a href="#">@T("footer.politics")</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="text-center cop">2018 ООО "@T("footer.company.name")"</div>
	<script type="text/javascript">
		$('.slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			fade: true,
			asNavFor: '.slider-nav',
			prevArrow: '<div class="prev-arrow"></div>',
			nextArrow: '<div class="next-arrow"></div>',
		});
		$('.slider-nav').slick({
			slidesToShow: 4,
			slidesToScroll: 1,
			asNavFor: '.slider',
			dots: false,
			centerMode: false,
			focusOnSelect: true,
			arrows: false,
		});
	</script>
</footer>