@model ProductReviewsModel

@using Nop.Core

@{
    Layout = "_ColumnsOne";

}
@using System.Globalization
@{
    string[] icons = new string[6] { "", "angry", "sad", "netral", "good", "perfect" };
    var ratingPercent = 0;
    if (Model.Items.Count != 0)
    {
        var ratingSum = Model.Items.Sum(x => x.Rating);
        ratingPercent = ((ratingSum * 100) / Model.Items.Count) / 5;
    }
    var ratingValue = ratingPercent / (decimal)20;
}
<nav class="breadcrumb-wrap">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Bed4you</a></li>
        <li class="breadcrumb-item active"><a href="#">@T("reviews.store")</a></li>
    </ol>
</nav>
<div id="iframe"></div>
<div class="commets-wrap">
    <div class="title">
        <div class="comment-title-main">
            <h4>@T("reviews.store")</h4>
        </div>
    </div>
    <div class="filters-wrap clearfix">
        <button id="comment-activate" class="btn btn-blue btn-sm pl-3 pr-4 m-md-3">@T("review.write")</button>
        <div class="f2 d-none d-lg-block float-right">
            <div class="btn-group">
                <button class="btn btn-outline-secondary btn-sm vg-filter rounded" id="group"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
                    @T(string.Format("review.period{0}", ViewBag.Period))
                </button>
                <div class="dropdown-menu keep_open" aria-labelledby="group">
                    <div class="form-group">
                        <div class="form-check check-fly">
                            <input class="form-check-input" value="1" name="period" type="radio" id="lr4" onclick="SubmitPeriod(this.value)"
                                   @(ViewBag.Period == 1 ? "checked" : "")>
                            <label for="lr4"></label>
                            <label class="col-form-label" for="lr4">@T("review.period1")</label>
                        </div>
                        <div class="form-check check-fly">
                            <input class="form-check-input" value="3" name="period" type="radio" id="lr5" onclick="SubmitPeriod(this.value)"
                                   @(ViewBag.Period == 3 ? "checked" : "")>
                            <label for="lr5"></label>
                            <label class="col-form-label" for="lr5">@T("review.period3")</label>
                        </div>
                        <div class="form-check check-fly">
                            <input class="form-check-input" value="6" name="period" type="radio" id="lr6" onclick="SubmitPeriod(this.value)"
                                   @(ViewBag.Period == 6 ? "checked" : "")>
                            <label for="lr6"></label>
                            <label class="col-form-label" for="lr6">@T("review.period6")</label>
                        </div>
                        <div class="form-check check-fly">
                            <input class="form-check-input" value="12" name="period" type="radio" id="lr7" onclick="SubmitPeriod(this.value)"
                                   @(ViewBag.Period == 12 ? "checked" : "")>
                            <label for="lr7"></label>
                            <label class="col-form-label" for="lr7">@T("review.period12")</label>
                        </div>
                        <div class="form-check check-fly">
                            <input class="form-check-input" value="0" name="period" type="radio" id="lr8" onclick="SubmitPeriod(this.value)"
                                   @(ViewBag.Period == 0 ? "checked" : "")>
                            <label for="lr8"></label>
                            <label class="col-form-label" for="lr8">@T("review.period0")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-10 form-block">
        <div class="form-wrap clearfix">
            <div class="title">@T("reviews.rateus")</div>
            <form method="post" id="add-review-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="rate-rating clearfix">
                            <div class="name-description">
                                <label for="AddProductReview.ConsultationRating">@T("reviews.total.consultation"):</label>
                            </div>
                            <div class="rating-wrapper">
                                <div id="reviewSmile-input">
                                    @for (int i = 5; i > 0; i--)
                                    {
                                        <input id="smile-@(i-1)-1" type="radio" value="@i" name="AddProductReview.ConsultationRating">
                                        <label title="@icons[i]" for="smile-@(i-1)-1"></label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="rate-rating clearfix">
                            <div class="name-description">
                                <label for="AddProductReview.OnlineOrderRating">@T("reviews.total.online"):</label>
                            </div>
                            <div class="rating-wrapper">
                                <div id="reviewSmile-input">
                                    @for (int i = 5; i > 0; i--)
                                    {
                                        <input id="smile-@(i-1)-2" type="radio" value="@i" name="AddProductReview.OnlineOrderRating">
                                        <label title="@icons[i]" for="smile-@(i-1)-2"></label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="rate-rating clearfix">
                            <div class="name-description">
                                <label for="AddProductReview.OfflineOrderRating">@T("reviews.total.offline"):</label>
                            </div>
                            <div class="rating-wrapper">
                                <div id="reviewSmile-input">
                                    @for (int i = 5; i > 0; i--)
                                    {
                                        <input id="smile-@(i-1)-3" type="radio" value="@i" name="AddProductReview.OfflineOrderRating">
                                        <label title="@icons[i]" for="smile-@(i-1)-3"></label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="rate-rating clearfix">
                            <div class="name-description">
                                <label for="AddProductReview.DeliveryRating">@T("reviews.total.delivery"):</label>
                            </div>
                            <div class="rating-wrapper">
                                <div id="reviewSmile-input">
                                    @for (int i = 5; i > 0; i--)
                                    {
                                        <input id="smile-@(i-1)-4" type="radio" value="@i" name="AddProductReview.DeliveryRating">
                                        <label title="@icons[i]" for="smile-@(i-1)-4"></label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="rate-rating clearfix">
                            <div class="name-description">
                                <label for="AddProductReview.InstallationRating">@T("reviews.total.install"):</label>
                            </div>
                            <div class="rating-wrapper">
                                <div id="reviewSmile-input">
                                    @for (int i = 5; i > 0; i--)
                                    {
                                        <input id="smile-@(i-1)-5" type="radio" value="@i" name="AddProductReview.InstallationRating">
                                        <label title="@icons[i]" for="smile-@(i-1)-5"></label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="title">@T("review.total.willrecommend")?</div>
                        <div class="form-check-inline">
                            <div class="form-check check-fly">
                                <input class="form-check-input" value="true" name="AddProductReview.WillRecommend" type="radio"
                                       id="recomed1" checked="">
                                <label for="recomed1"></label>
                                <label class="col-form-label green" for="recomed1">@T("willrecommend.true")</label>
                            </div>
                            <div class="form-check check-fly">
                                <input class="form-check-input" value="null" name="AddProductReview.WillRecommend" type="radio"
                                       id="recomed2">
                                <label for="recomed2"></label>
                                <label class="col-form-label grey" for="recomed2">@T("willrecommend.null")</label>
                            </div>
                            <div class="form-check check-fly">
                                <input class="form-check-input" value="false" name="AddProductReview.WillRecommend" type="radio"
                                       id="recomed3">
                                <label for="recomed3"></label>
                                <label class="col-form-label red" for="recomed3">@T("willrecommend.false")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <div class="title">@T("review.comment")</div>
                    <div class="row">
                        <div class="col-6">
                            <input type="hidden" name="AddProductReview.Title" value="" />
                            <textarea rows="6" class="form-control" name="AddProductReview.ReviewText"></textarea>
                            <button class="mt-5 pl-5 pr-5 btn btn-blue float-right" type="submit">@T("review.confirm")</button>
                        </div>
                        <div class="col-4">
                            <span class="red">*@T("review.tip.warning")</span> @T("review.tip.text").
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="line"></div>
    <div class="col-md-12 col-lg-10 commets-block">
        <div class="diagram-wrapp">
            <div class="row">
                <div class="col-md-8 total-diagram">
                    <div class="title mb-4">@T("reviews.total.graph") @T(string.Format("review.period{0}", ViewBag.Period)).ToString().ToLower()</div>
                    @if (Model.Items.Count(x => x.ConsultationRating != null) > 0)
                    {
                        var pos = Math.Round(100.0 / Model.Items.Count(x => x.ConsultationRating != null) * Model.Items.Count(x => x.ConsultationRating == 4 || x.ConsultationRating == 5));
                        var neg = Math.Round(100.0 / Model.Items.Count(x => x.ConsultationRating != null) * Model.Items.Count(x => x.ConsultationRating == 1));
                        var neytral = 100 - pos - neg;
                        <div class="item-wrapp">
                            <div class="item-title">@T("reviews.consultation")</div>
                            <div class="item-line-wrapp">
                                <div class="item-line">@neytral%</div>
                                <div class="item-line">@pos%</div>
                                <div class="item-line">@neg%</div>
                            </div>
                        </div>
                    }
                    @if (Model.Items.Count(x => x.OnlineOrderRating != null) > 0)
                    {
                        var pos = Math.Round(100.0 / Model.Items.Count(x => x.OnlineOrderRating != null) * Model.Items.Count(x => x.OnlineOrderRating == 4 || x.OnlineOrderRating == 5));
                        var neg = Math.Round(100.0 / Model.Items.Count(x => x.OnlineOrderRating != null) * Model.Items.Count(x => x.OnlineOrderRating == 1));
                        var neytral = 100 - pos - neg;
                        <div class="item-wrapp">
                            <div class="item-title">@T("reviews.total.online")</div>
                            <div class="item-line-wrapp">
                                <div class="item-line">@neytral%</div>
                                <div class="item-line">@pos%</div>
                                <div class="item-line">@neg%</div>
                            </div>
                        </div>
                    }
                    @if (Model.Items.Count(x => x.OfflineOrderRating != null) > 0)
                    {
                        var pos = Math.Round(100.0 / Model.Items.Count(x => x.OfflineOrderRating != null) * Model.Items.Count(x => x.OfflineOrderRating == 4 || x.OfflineOrderRating == 5));
                        var neg = Math.Round(100.0 / Model.Items.Count(x => x.OfflineOrderRating != null) * Model.Items.Count(x => x.OfflineOrderRating == 1));
                        var neytral = 100 - pos - neg;
                        <div class="item-wrapp">
                            <div class="item-title">@T("reviews.total.offline")</div>
                            <div class="item-line-wrapp">
                                <div class="item-line">@neytral%</div>
                                <div class="item-line">@pos%</div>
                                <div class="item-line">@neg%</div>
                            </div>
                        </div>
                    }
                    @if (Model.Items.Count(x => x.DeliveryRating != null) > 0)
                    {
                        var pos = Math.Round(100.0 / Model.Items.Count(x => x.DeliveryRating != null) * Model.Items.Count(x => x.DeliveryRating == 4 || x.DeliveryRating == 5));
                        var neg = Math.Round(100.0 / Model.Items.Count(x => x.DeliveryRating != null) * Model.Items.Count(x => x.DeliveryRating == 1));
                        var neytral = 100 - pos - neg;
                        <div class="item-wrapp">
                            <div class="item-title">@T("reviews.total.delivery")</div>
                            <div class="item-line-wrapp">
                                <div class="item-line">@neytral%</div>
                                <div class="item-line">@pos%</div>
                                <div class="item-line">@neg%</div>
                            </div>
                        </div>
                    }
                    @if (Model.Items.Count(x => x.InstallationRating != null) > 0)
                    {
                        var pos = Math.Round(100.0 / Model.Items.Count(x => x.InstallationRating != null) * Model.Items.Count(x => x.InstallationRating == 4 || x.InstallationRating == 5));
                        var neg = Math.Round(100.0 / Model.Items.Count(x => x.InstallationRating != null) * Model.Items.Count(x => x.InstallationRating == 1));
                        var neytral = 100 - pos - neg;
                        <div class="item-wrapp">
                            <div class="item-title">@T("reviews.total.install")</div>
                            <div class="item-line-wrapp">
                                <div class="item-line">@neytral%</div>
                                <div class="item-line">@pos%</div>
                                <div class="item-line">@neg%</div>
                            </div>
                        </div>
                    }
                    @if (Model.Items.Count() > 0)
                    {
                        var pos = Math.Round(100.0 / Model.Items.Count() * Model.Items.Count(x => x.WillRecommend == true));
                        var neg = Math.Round(100.0 / Model.Items.Count() * Model.Items.Count(x => x.WillRecommend == false));
                        var neytral = 100 - pos - neg;
                        <div class="item-wrapp">
                            <div class="item-title">@T("reviews.total.willrecommend")</div>
                            <div class="item-line-wrapp">
                                <div class="item-line">@neytral%</div>
                                <div class="item-line">@pos%</div>
                                <div class="item-line">@neg%</div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-4 total-rate">
                    <div class="title mb-4">@T("reviews.total.rate")</div>
                    <div class="item-wrapp clearfix">
                        <div class="item-title float-left">@T("reviews.total.positive")</div>
                        <div class="item-rate float-right">@(Model.Items.Count(x => x.ConsultationRating == 4 || x.ConsultationRating == 5) +
        Model.Items.Count(x => x.InstallationRating == 4 || x.InstallationRating == 5) +
        Model.Items.Count(x => x.OfflineOrderRating == 4 || x.OfflineOrderRating == 5) +
        Model.Items.Count(x => x.OnlineOrderRating == 4 || x.OnlineOrderRating == 5) +
        Model.Items.Count(x => x.DeliveryRating == 4 || x.DeliveryRating == 5))</div>
                    </div>
                    <div class="item-wrapp clearfix">
                        <div class="item-title float-left">@T("reviews.total.neutral")</div>
                        <div class="item-rate float-right">
                            @(Model.Items.Count(x => x.ConsultationRating == 2 || x.ConsultationRating == 3) +
Model.Items.Count(x => x.InstallationRating == 2 || x.InstallationRating == 3) +
Model.Items.Count(x => x.OfflineOrderRating == 2 || x.OfflineOrderRating == 3) +
Model.Items.Count(x => x.OnlineOrderRating == 2 || x.OnlineOrderRating == 3) +
Model.Items.Count(x => x.DeliveryRating == 2 || x.DeliveryRating == 3))
                                            </div>
                    </div>
                    <div class="item-wrapp clearfix">
                        <div class="item-title float-left">@T("reviews.total.negative")</div>
                        <div class="item-rate float-right">
                            @(Model.Items.Count(x => x.ConsultationRating == 1) +
Model.Items.Count(x => x.InstallationRating == 1) +
Model.Items.Count(x => x.OfflineOrderRating == 1) +
Model.Items.Count(x => x.OnlineOrderRating == 1) +
Model.Items.Count(x => x.DeliveryRating == 1))
                                            </div>
                    </div>
                    <div class="item-wrapp clearfix">
                        <div class="item-title float-left">@T("reviews.total.allreviews")</div>
                        <div class="item-rate float-right">@Model.Items.Count</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-items">
            @if (Model.Items.Count > 0)
                        {
                            foreach (var review in Model.Items)
                            {
                    <ul>
                        <li class="list">
                            <div class="clearfix">
                                <div class="info-wrap float-left">
                                    <div class="no-avatar float-left"><img src="/img/no_avatar.png" alt="no_avatar.png"></div>
                                    <div class="info float-right">
                                        <div class="name">@review.CustomerName</div>
                                        <div class="date">@review.WrittenOnStr</div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle @(review.CustomerId == ViewBag.CustomerId ? "pen" : "")" type="button" id="dropdownRecomend"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="@(review.WillRecommend == null ? "grey" : review.WillRecommend == true ? "green" : "red")">@(review.WillRecommend == null ? T("willrecommend.null") : review.WillRecommend == true ? T("willrecommend.true") : T("willrecommend.false"))</span>
                                            </button>
                                            @if (review.CustomerId == ViewBag.CustomerId)
                        {
                                                <div class="dropdown-menu" aria-labelledby="dropdownRecomend" name="WillRecommend">
                                                    <a class="dropdown-item" href="#" onclick="ChangeReview(@review.Id, true);return false;"><span class="green">@T("willrecommend.true")</span></a>
                                                    <a class="dropdown-item" href="#" onclick="ChangeReview(@review.Id, null);return false;"><span class="grey">@T("willrecommend.null")</span></a>
                                                    <a class="dropdown-item" href="#" onclick="ChangeReview(@review.Id, false);return false;"><span class="red">@T("willrecommend.false")</span></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="more btn btn-link">@T("reviews.more")</div>
                                    </div>
                                </div>
                                <div class="text-wrap">
                                    @review.ReviewText
                                </div>
                            </div>
                            <div class="user-rate-items">
                                @if (review.ConsultationRating != null)
                    {
                                    <div class="user-rate-item">
                                        <div class="item-title">@T("reviews.total.consultation")</div>
                                        <div class="sprite-smile @icons[review.ConsultationRating ?? 0]"></div>
                                    </div>
                                }
                                @if (review.ConsultationRating != null)
                    {
                                    <div class="user-rate-item">
                                        <div class="item-title">@T("reviews.total.online")</div>
                                        <div class="sprite-smile @icons[review.OnlineOrderRating ?? 0]"></div>
                                    </div>
                                }
                                @if (review.ConsultationRating != null)
                    {
                                    <div class="user-rate-item">
                                        <div class="item-title">@T("reviews.total.offline")</div>
                                        <div class="sprite-smile @icons[review.OfflineOrderRating ?? 0]"></div>
                                    </div>
                                }
                                @if (review.ConsultationRating != null)
                    {
                                    <div class="user-rate-item">
                                        <div class="item-title">@T("reviews.total.delivery")</div>
                                        <div class="sprite-smile @icons[review.DeliveryRating ?? 0]"></div>
                                    </div>
                                }
                                @if (review.ConsultationRating != null)
                    {
                                    <div class="user-rate-item">
                                        <div class="item-title">@T("reviews.total.install")</div>
                                        <div class="sprite-smile @icons[review.InstallationRating ?? 0]"></div>
                                    </div>
                                }
                            </div>
                            @if (!string.IsNullOrEmpty(review.ReplyText))
                    {
                                <ul>
                                    <li class="list">
                                        <div class="clearfix">
                                            <div class="info-wrap float-left">
                                                <div class="no-avatar float-left">
                                                    <img src="/img/admin_avatar.png"
                                                         alt="admin_avatar.png">
                                                </div>
                                                <div class="info float-right">
                                                    <div class="name">@T("reviews.admin")</div>
                                                </div>
                                            </div>
                                            <div class="text-wrap">
                                                @review.ReplyText
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                }
            }
        </div>
    </div>
</div>
<script>
    function ChangeReview(ReviewId, WillRecommend) {
        $.ajax({
                            url: '/common/ChangeRecommendation',
            type: 'post',
            data: {
                                ReviewId,
                WillRecommend
            }
                        }).done(function (data) {
                            if (data.success) {
                                window.location.reload();
                            }
                            else {
                                console.log(data);
                            }
                        });
                    }
    $('#add-review-form').submit(function (e) {
                        e.preventDefault();
        $.ajax({
                            url: '/reviews',
            type: 'post',
            data: $('#add-review-form').serialize()
        }).done(function (data) {
                            if (data.success) {
                                window.location.reload();
                            }
                            else {
                                console.log(data);
                            }
                        });
                    });
</script>
<script>
    function SubmitPeriod(value) {
                        window.location.replace('?period=' + value);
                    }
</script>

@******************************old*********************************@

@*<nav class="breadcrumb-wrap">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Bed4you</a></li>
            <li class="breadcrumb-item active"><a href="#">@T("reviews.store")</a></li>
        </ol>
    </nav>
    <div class="question-wrap clearfix">
        <div class="title clearfix">
            <div class="comment-title-main">
                <h4>@T("reviews.store")</h4>
            </div>
            <div class="stars">
                <div class="icons-wrap">
                    @if (Model.Items.Count > 0)
                    {
                        @for (int i = 0; i < 5; i++)
                        {
                            if ((int)(Model.Items.Sum(x => x.Rating) / Model.Items.Count) > i)
                            {
                                <i class="star"></i>
                            }
                            else
                            {
                                <i class="star grey"></i>
                            }
                        }
                    }
                </div>
            </div>
            <button id="comment-activate" class="btn btn-blue btn-sm pl-4 pr-4">@T("Reviews.SubmitButton")</button>
        </div>
        <form asp-route="ProductReviews" method="post" id="add-review-form" style="display:none;">
            <div class="comment-title">
                <h5>@T("reviews.write")</h5>
            </div>
            <div class="form-group">
                <label for="AddProductReview.Title">@T("review.title"):</label>
                <input oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.Title" class="form-control" required="">
            </div>
            <div class="form-group">
                <label for="AddProductReview.ReviewText">@T("review.text"):</label>
                <textarea oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.ReviewText" class="form-control" required=""></textarea>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.Rating">Оценка:</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="AddProductReview.Rating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="AddProductReview.Rating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="AddProductReview.Rating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="AddProductReview.Rating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="AddProductReview.Rating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" id="add-review-btn" name="add-review" class="btn btn-blue btn-sm pl-4 pr-4">@T("reviews.send")</button>
            </div>
        </form>
        <script>
            $('#add-review-form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).closest('form').attr('action'),
                    type: 'post',
                    data: $('#add-review-form').serialize()
                }).done(function (data) {
                    if (data.success) {
                        window.location.reload();
                    }
                    else {
                        console.log(data.message);
                    }
                });
            });
        </script>

        @if (Model.Items.Count > 0)
        {
            @foreach (var review in Model.Items)
            {
                <ul class="comment clearfix">
                    <li class="list">
                        <div class="info-wrap">
                            <div class="name">@review.CustomerName</div>
                            <div class="date">@review.WrittenOnStr</div>
                            <div class="rate">
                                <p class="icons-wrap">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (review.Rating > i)
                                        {
                                            <i class="star"></i>
                                        }
                                        else
                                        {
                                            <i class="star grey"></i>
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="text-wrap">
                            <strong>@review.Title</strong>
                            <br />
                            @review.ReviewText
                        </div>
                    </li>
                </ul>
                <div class="line"></div>
            }
        }

    </div>*@
