@model ProductReviewsModel

@using Nop.Core

@{
    Layout = "_ColumnsOne";

}
@using System.Globalization
@{
    var ratingPercent = 0;
    if (Model.Items.Count != 0)
    {
        var ratingSum = Model.Items.Sum(x => x.Rating);
        ratingPercent = ((ratingSum * 100) / Model.Items.Count) / 5;
    }
    var ratingValue = ratingPercent / (decimal)20;
}
<nav class="breadcrumb-wrap">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Bed4you</a></li>
        <li class="breadcrumb-item active"><a href="#">@T("reviews.store")</a></li>
    </ol>
</nav>
<div id="iframe"></div>

<div class="col-md-12 col-lg-8">
    <div class="title">
        <div class="comment-title-main">
            <h4>@T("reviews.store")</h4>
            </div>
        </div>
    <div class="commets-wrap">
        <div class="sub-heder-wrapp clearfix">
            <div class="stars">
                <div class="icons-wrap">
                    @if (Model.Items.Count > 0)
                    {
                        @for (int i = 0; i < 5; i++)
                        {
                            if ((int)(Model.Items.Sum(x => x.Rating) / Model.Items.Count) > i)
                            {
                                <i class="star"></i>
                            }
                            else
                            {
                                <i class="star grey"></i>
                            }
                        }
                    }
                </div>
            </div>
            <button id="comment-activate" class="btn btn-blue btn-sm pl-4 pr-4">@T("Reviews.SubmitButton")</button>
        </div>
        <form method="post" id="add-review-form" style="display:none;" action="" class="mb-5">
            <div class="comment-title">
                <h5>@T("reviews.write")</h5>
            </div>
            <div class="form-group">
                <label for="AddProductReview.Title">@T("review.title"):</label>
                <input oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.Title" class="form-control" required="">
            </div>
            <div class="form-group">
                <label for="AddProductReview.ReviewText">@T("review.text"):</label>
                <textarea oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.ReviewText" class="form-control" required=""></textarea>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.Rating">@T("review.rate"):</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="AddProductReview.Rating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="AddProductReview.Rating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="AddProductReview.Rating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="AddProductReview.Rating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="AddProductReview.Rating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.ConsultationRating">Consultation Rating:</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-41" type="radio" name="AddProductReview.ConsultationRating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-31" type="radio" name="AddProductReview.ConsultationRating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-21" type="radio" name="AddProductReview.ConsultationRating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-11" type="radio" name="AddProductReview.ConsultationRating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-01" type="radio" name="AddProductReview.ConsultationRating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.DeliveryRating">Delivery Rating:</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="AddProductReview.DeliveryRating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="AddProductReview.DeliveryRating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="AddProductReview.DeliveryRating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="AddProductReview.DeliveryRating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="AddProductReview.DeliveryRating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.InstallationRating">Installation Rating:</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="AddProductReview.InstallationRating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="AddProductReview.InstallationRating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="AddProductReview.InstallationRating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="AddProductReview.InstallationRating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="AddProductReview.InstallationRating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.OnlineOrderRating">Online Order Rating:</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="AddProductReview.OnlineOrderRating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="AddProductReview.OnlineOrderRating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="AddProductReview.OnlineOrderRating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="AddProductReview.OnlineOrderRating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="AddProductReview.OnlineOrderRating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.OfflineOrderRating">Offline Order Rating:</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="AddProductReview.OfflineOrderRating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="AddProductReview.OfflineOrderRating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="AddProductReview.OfflineOrderRating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="AddProductReview.OfflineOrderRating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="AddProductReview.OfflineOrderRating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.WillRecommend">Will Recommend?</label>
                </div>
                <input type="checkbox" name="AddProductReview.WillRecommend" />
            </div>
            <div class="buttons">
                <button type="submit" id="add-review-btn" name="add-review" class="btn btn-blue btn-sm pl-4 pr-4">@T("reviews.send")</button>
            </div>
        </form>
        <div class="review-analytics">
            <h6>Delivery Rating: @(Model.Items.Select(x => x.DeliveryRating).Sum() / Model.Items.Count(x => x.DeliveryRating != null))</h6>
            <h6>Consultation Rating: @(Model.Items.Select(x => x.ConsultationRating).Sum() / Model.Items.Count(x => x.ConsultationRating != null))</h6>
            <h6>Installation Rating: @(Model.Items.Select(x => x.InstallationRating).Sum() / Model.Items.Count(x => x.InstallationRating != null))</h6>
            <h6>Offline Order Rating: @(Model.Items.Select(x => x.OfflineOrderRating).Sum() / Model.Items.Count(x => x.OfflineOrderRating != null))</h6>
            <h6>Online Order Rating: @(Model.Items.Select(x => x.OnlineOrderRating).Sum() / Model.Items.Count(x => x.OnlineOrderRating != null))</h6>
            <h6>
                Will Recommend: Да - @Model.Items.Count(x => x.WillRecommend == true) /
                Воздержался - @Model.Items.Count(x => x.WillRecommend == null) /
                Нет - @Model.Items.Count(x => x.WillRecommend == false)
            </h6>
            <h6>Total reviews: @Model.Items.Count</h6>
        </div>
        @if (Model.Items.Count > 0)
        {
            @foreach (var review in Model.Items)
            {
                <ul class="comment">
                    <li class="list clearfix">
                        <div class="info-wrap">
                            <div class="name">@review.CustomerName</div>
                            <div class="date">@review.WrittenOnStr</div>
                            <div class="rate">
                                <p class="icons-wrap">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (review.Rating > i)
                                        {
                                            <i class="star"></i>
                                        }
                                        else
                                        {
                                            <i class="star grey"></i>
                                        }
                                    }
                                </p>
                            </div>
                            <div class="rate">
                                Consultation Rating
                                <p class="icons-wrap">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (review.ConsultationRating > i)
                                        {
                                            <i class="star"></i>
                                        }
                                        else
                                        {
                                            <i class="star grey"></i>
                                        }
                                    }
                                </p>
                            </div>
                            <div class="rate">
                                Delivery Rating
                                <p class="icons-wrap">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (review.DeliveryRating > i)
                                        {
                                            <i class="star"></i>
                                        }
                                        else
                                        {
                                            <i class="star grey"></i>
                                        }
                                    }
                                </p>
                            </div>
                            <div class="rate">
                                Installation Rating
                                <p class="icons-wrap">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (review.InstallationRating > i)
                                        {
                                            <i class="star"></i>
                                        }
                                        else
                                        {
                                            <i class="star grey"></i>
                                        }
                                    }
                                </p>
                            </div>
                            @if (review.OfflineOrderRating == null)
                            {
                                <div class="rate">
                                    Online Order Rating
                                    <p class="icons-wrap">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (review.OnlineOrderRating > i)
                                            {
                                                <i class="star"></i>
                                            }
                                            else
                                            {
                                                <i class="star grey"></i>
                                            }
                                        }
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="rate">
                                    Offline Order Rating
                                    <p class="icons-wrap">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (review.OfflineOrderRating > i)
                                            {
                                                <i class="star"></i>
                                            }
                                            else
                                            {
                                                <i class="star grey"></i>
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                        Will Recommend @(review.WillRecommend != null ? (review.WillRecommend == true ? "Да" : "Нет") : "Воздержался")
                        <div class="text-wrap">
                            <strong>@review.Title</strong>
                            <br />
                            @review.ReviewText
                        </div>
                        @if (!string.IsNullOrEmpty(review.ReplyText))
                        {
                            <div class="replies">
                                <strong>Ответ от администратора:</strong>
                                <br />
                                @review.ReplyText
                            </div>
                        }
                    </li>
                </ul>
                @if (review != Model.Items.LastOrDefault())
                {
                    <div class="line"></div>
                }
            }
        }
    </div>
</div>
<script>
    $('#add-review-form').submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).closest('form').attr('action'),
            type: 'post',
            data: $('#add-review-form').serialize()
        }).done(function (data) {
            if (data.success) {
                window.location.reload();
            }
            else {
                console.log(data.message);
            }
        });
    });
</script>

    @******************************old*********************************@

    @*<nav class="breadcrumb-wrap">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Bed4you</a></li>
            <li class="breadcrumb-item active"><a href="#">@T("reviews.store")</a></li>
        </ol>
    </nav>
    <div class="question-wrap clearfix">
        <div class="title clearfix">
            <div class="comment-title-main">
                <h4>@T("reviews.store")</h4>
            </div>
            <div class="stars">
                <div class="icons-wrap">
                    @if (Model.Items.Count > 0)
                    {
                        @for (int i = 0; i < 5; i++)
                        {
                            if ((int)(Model.Items.Sum(x => x.Rating) / Model.Items.Count) > i)
                            {
                                <i class="star"></i>
                            }
                            else
                            {
                                <i class="star grey"></i>
                            }
                        }
                    }
                </div>
            </div>
            <button id="comment-activate" class="btn btn-blue btn-sm pl-4 pr-4">@T("Reviews.SubmitButton")</button>
        </div>
        <form asp-route="ProductReviews" method="post" id="add-review-form" style="display:none;">
            <div class="comment-title">
                <h5>@T("reviews.write")</h5>
            </div>
            <div class="form-group">
                <label for="AddProductReview.Title">@T("review.title"):</label>
                <input oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.Title" class="form-control" required="">
            </div>
            <div class="form-group">
                <label for="AddProductReview.ReviewText">@T("review.text"):</label>
                <textarea oninvalid="this.setCustomValidity(' ')" oninput="setCustomValidity('')" name="AddProductReview.ReviewText" class="form-control" required=""></textarea>
            </div>
            <div class="review-rating">
                <div class="name-description">
                    <label for="AddProductReview.Rating">Оценка:</label>
                </div>
                <div class="rating-wrapper">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="AddProductReview.Rating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="AddProductReview.Rating" value="4" checked />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="AddProductReview.Rating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="AddProductReview.Rating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="AddProductReview.Rating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" id="add-review-btn" name="add-review" class="btn btn-blue btn-sm pl-4 pr-4">@T("reviews.send")</button>
            </div>
        </form>
        <script>
            $('#add-review-form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).closest('form').attr('action'),
                    type: 'post',
                    data: $('#add-review-form').serialize()
                }).done(function (data) {
                    if (data.success) {
                        window.location.reload();
                    }
                    else {
                        console.log(data.message);
                    }
                });
            });
        </script>

        @if (Model.Items.Count > 0)
        {
            @foreach (var review in Model.Items)
            {
                <ul class="comment clearfix">
                    <li class="list">
                        <div class="info-wrap">
                            <div class="name">@review.CustomerName</div>
                            <div class="date">@review.WrittenOnStr</div>
                            <div class="rate">
                                <p class="icons-wrap">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (review.Rating > i)
                                        {
                                            <i class="star"></i>
                                        }
                                        else
                                        {
                                            <i class="star grey"></i>
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="text-wrap">
                            <strong>@review.Title</strong>
                            <br />
                            @review.ReviewText
                        </div>
                    </li>
                </ul>
                <div class="line"></div>
            }
        }

    </div>*@
