@model HeaderLinksModel
@using System.Text.Encodings.Web

<a href="#" class="buy-btn" onclick="UpdateCart();"><i class="favorit shopping_bag_icon @(Model.ShoppingCartItems > 0 ? "active" : "")"><span>@Model.ShoppingCartItems</span></i></a>
<a href="/wishlist"><i class="favorit favorite_i @(Model.WishlistItems > 0 ? "active" : "")"><span id="wishlistItemsCount">@Model.WishlistItems</span></i></a>
<a href="@(Model.CompareProductItems > 0 ? "/compareproducts" : "#")"><i class="favorit compare_icon @(Model.CompareProductItems > 0 ? "active" : "")" id="compareItems"></i></a>
@if (Model.IsAuthenticated)
{
    <a href="/customer/info"><i class="favorit active user_icon"></i></a>
}
else
{
    <a id="non-authorized" href="#"><i class="favorit user_icon d-none d-md-inline-block"></i></a>
}
<span id="your-city"></span>
<style>
    .ui-autocomplete-loading {
        background: white url("/img/loader.gif") right center no-repeat;
    }
</style>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        function log(message) {
            $("<div>").text(message).prependTo("#log");
            $("#log").scrollTop(0);
        }

        $("#city-input").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/ru/GetCitySuggestions",//"@Url.Action("GetCitySuggestions", "Common")",
                    dataType: "json",
                    data: {
                        query: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                log("Selected: " + ui.item.value + " aka " + ui.item.id);
            }
        });
    });
</script>
    <div class="ui-widget">
        <label for="city-input">Type your city: </label>
        <input id="city-input" />
    </div>

    <div class="ui-widget" style="display:none;margin-top:2em; font-family:Arial">
        Result:
        <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
    </div>

