@using Nop.Core.Domain.Topics;
@model CustomTopicModel
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
	var isPopup = ViewBag.IsPopup;
	if (isPopup == null || isPopup == false)
	{
		Layout = "_ColumnsOne";
	}

	//page class
	Html.AppendPageCssClassParts("html-topic-page");
}
<nav class="breadcrumb-wrap" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Bed4you</a></li>
		<li class="breadcrumb-item active"><a href="#">@T("product.customtopic")</a></li>
	</ol>
</nav>
<div class="row news">
	<div class="col-md-12 col-lg-12 offset-xl-1 col-xl-9">
		<div class="news-full-wrap">
			<h1 class="title">@Model.Topic.Title <span class="date">@T(string.Format("topic.category{0}", Model.Topic.TopicCategoryId))</span></h1>
			<div class="img-wrap">
				<img src="https://via.placeholder.com/920x500" alt="">
			</div>
			<div class="text">
				@Html.Raw(Model.Topic.Body)
			</div>
			<div class="btn-wrap">
				@if (Model.PreviousTopic != null)
				{
					<button class="btn btn-link" onclick="window.location.replace('/topic/topicdetails?topicId=@Model.PreviousTopic.Id')">< @Model.PreviousTopic.Title</button>
				}
				else
				{
					<button class="invisible" disabled></button>
				}
				@if (Model.NextTopic != null)
				{
					<button class="btn btn-link" onclick="window.location.replace('/topic/topicdetails?topicId=@Model.NextTopic.Id')">@Model.NextTopic.Title ></button>
				}
				else
				{
					<button class="invisible" disabled></button>
				}
			</div>
		</div>
	</div>
</div>